doctype html

html
  head
    - if (typeof(title) == 'undefined')
        title Smoothware
    - else 
        title= title
    
    meta(name="google-site-verification", content="bqEDYTxrDqQmAYGvWhqLPtwkDzvabqUe_I1VigtQzH8")
    
    // include default stylesheets and any view stylesheets
    link(rel='stylesheet', href= '/stylesheets/style.css')
    
    // include default scripts and any view scripts
    script(src='/javascripts/jquery-1.7.min.js')
    
  body   
    header
      div(class='content-wrapper')
        div(class="float-left")
          p(class="site-title")
              a(href="http://smoothware.ie", class="smoothware-200-50-noback")  
        div(class="float-right")
          section#login
            ul
            // -if(!everyauth.loggedIn)
            //     li
            //         a(href="/login") Log in
            //     li
            //         a(href="/register") Register
            // -else
            //     -if(everyauth.facebook)
            //         li Welcome !{everyauth.facebook.user.first_name} !{everyauth.facebook.user.last_name}!
            //     -else if(everyauth.twitter)
            //         li Welcome !{everyauth.twitter.user.name}!
            //     -else if(everyauth.password)
            //         li Welcome !{everyauth.user.email}!
            //     li 
            //         a(href="/logout") Logout
          nav
            ul#menu
              li 
                a(href="/") Home
              li 
                a(href="/chat") Support
              li
                a(href="/about") About
   

    block content
              
    footer
      div(class="content-wrapper")
        div(class="float-left")
          p neil_hosey@smoothware.ie &copy; !{(new Date()).getFullYear()}
        div(class="float-right")
          ul#social
            li
              a(href="https://twitter.com/neil_smoothware", class="twitter") Twitter
              